{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    {% for ingredient in ingredients %}
        <p>{{ ingredient.nom }}</p>
    {% endfor %}
{% endblock %}
