{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
    {{ recette.titre }}
    {% for etape in recette.etapes %}
        <p>{{ etape.getCompletedString }}</p>
    {% endfor %}
{% endblock %}
