{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
    {% for recette in recettes %}
        <div><p>{{ recette.titre }}</p> <p> <button name="redirect" onClick="redirect({{ recette.id }})" > voir le détail </button></p></div>

    {% endfor %}
    <script type="text/javascript">
        function redirect( id )
        {
            console.log(id);
            var url = "/recette/"+id;
            window.location.replace(url);

        }
    </script>
{% endblock %}
