<!DOCTYPE html> d>
    <meta charset="UTF-8">
    <title>{% block title %}Yole100{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<header>
    Bienvenue sur Julien2Legume !
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
    {% endif %}
</header>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
<footer>yolefooter
{#exercice 5 twig#}
{#    {% set content %}#}
{#        # Hello world#}
{#        - point 1#}
{#        - point 2#}
{#    {% endset %}#}
{#    {{ content | markdown_to_html | raw  }}#}



</footer>
</html>
